/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Estilos del formulario */
#msform {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#msform fieldset {
    border: none;
    padding: 0;
    position: relative;
}

#msform label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 5px;
}

#msform input[type="text"],
#msform select,
#msform textarea {
    width: 60%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
}

#msform textarea {
    height: 200px;
    resize: none;
}

#msform select {
    height: 40px;
}

#msform input[type="checkbox"] {
    margin-right: 10px;
}

#msform label input[type="checkbox"] {
    vertical-align: middle;
}

#msform ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#msform ul li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.save_button {
    background-color: #18d6b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}

.save_button:hover {
    background-color: #18d6b3;
}

/* Estilos de la sección de actividades */
#activity-section {
    margin-top: 50px;
}

#activity-section p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
}

#activity-section p:first-child {
    font-weight: bold;
}

#activity-section p:nth-child(2),
#activity-section p:nth-child(3) {
    margin-left: 20px;
}

.taiga-btn-delete {
    border: none;
    padding-bottom: 20px;
    margin: 1000px;
    width: 30px;
    height: 30px;
    background: url("/static/delete.png") no-repeat center center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.taiga-btn-delete:hover {
    background-color: #c0392b;
}

.taiga-btn-delete img {
    max-width: 20px;
    max-height: 20px;
}

.activity ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.activity li {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
  
.activity p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.activity p:first-child {
    font-weight: bold;
    color: #18d6b3;
}

.activity p:nth-of-type(2) {
    font-style: italic;
    color: #999;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(206, 124, 124);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #c00;
}

.block-reason {
    background-color: rgb(255, 0, 0);
    color: white; 
}

.btn-lock, .btn-unlock {
    font-size: 24px; /* Aumenta el tamaño de fuente del botón a 24 píxeles */
    /* Agregue otros estilos personalizados para el botón aquí */
}



.comment {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
}
  
.comment ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.comment p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.comment p:first-child {
    font-weight: bold;
    color: #18d6b3;
}

.comment p:nth-of-type(2) {
    font-style: italic;
    color: #999;
}
  
.comment hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.comment li {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
  