<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issues</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'issues_styles.css'%}">
</head>
<body>
  <!-- Contenido de la página -->
  <header> 
    <!-- Encabezado de la página -->
    <nav>
      <!-- Barra de navegación -->
      <h1 class="app-title">Issue Tracker</h1>
      <ul>
        <li><a href="http://127.0.0.1:8000/newIssues">Create new Issue</a></li>
        <li><a href="http://127.0.0.1:8000">View all Issues</a></li>
      </ul>
    </nav>
  </header> 

  <div class="issues">
    <h1>Issues</h1>
    <div class="taskboard-actions">
      <div class="issue-table-options">
        <form class="search-form" method="GET" action="http://127.0.0.1:8000">
          <input class="search-bar" type="text" name="q" placeholder="subject or description" autocomplete="on">
          <button type="submit" class="search-action-button"></button>
        </form>
      </div>
      <div class="new-issue">
        <button class="bulk-insert-btn" onclick="window.location.href='/bulk_insert/'"></button>        
      </div>
    </div>  
    <br>  
    <br>
    <ul>
      {% for issue in issues %}
      <a class="issue_selected" href="issue/{{ issue.id }}">
        <li class="taiga-btn-issue">
            <h2>{{ issue.Subject }}</h2>
            <p>{{ issue.Description }}</p>
          <form id="msform" method="POST" action="http://127.0.0.1:8000/delete/Issue"> 
            <input name="id" type="hidden" value="{{ issue.id }}" />
            {% load static %}
            <button class="taiga-btn-delete"></button>
          </form>
        </li>
      </a>
      {% empty %}
        <li>No hay issues disponibles</li>
      {% endfor %}
    </ul>
  </div>
  </body>
</html>